
/* navigation-bar.component.css */

.app-header {
  background-color: rgb(0, 79, 154);
}

.navbar {
  background-color: rgb(0, 79, 154);
  height: 100px; /* Adjust the height as needed */
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-brand img {
  width: 90%;
  height: 30px; /* Adjust the logo height as needed */
}

.navbar-collapse {
  justify-content: flex-end;
}
.nav-item {
  margin-right: 10px;
}
.custom-search-form {
  background-color: #f0f0f4;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Adjust styles for input and button within the custom form */
.custom-search-form .form-control {
  flex: 1;
  border: none;
  border-radius: 0;
  height: 100%;
  margin-right: 0;
  background-color: transparent;
  color: #fff;
}

.custom-search-form button {
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-search-form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-navbar-nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.custom-navbar-nav li {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
}

.custom-navbar-nav a {
  color: antiquewhite;
  text-decoration: none;
}
