    <!-- First Row of Buttons -->
    <div class="row" style="margin-bottom: 20px;">
      <div class="button-container" style="display: flex; flex-wrap: wrap;">
          <button class="button" style=" padding: 10px 250px; margin: 5px; font-size: 16px; background-color: #3498db; color: #fff; border: none; cursor: pointer;">Find</button>
          <button class="button" style=" padding: 10px 200px; margin: 5px; font-size: 16px; background-color: #3498db; color: #fff; border: none; cursor: pointer;">Employee</button>
      </div>
  </div>

